@font-face {
    font-family: "pretendard";         
    src: url("../../font/PretendardVariable.ttf"); 
}

.startBtn{
    cursor: pointer;
    font-size: 25px;
    width: 200px;
    height: 70;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 70px;
}

.startBtn:hover{
    background-color: #A1D9EF;
}

.LeftMenuBar {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #919191;
    line-height: 50px;
    padding-left: 18px;
}

.LeftMenuBar:hover {
    background-color: rgb(174, 183, 238);
    font-size: 15px;
    color: #2F3134;
    line-height: 50px;
    padding-left: 18px;
    cursor: pointer;
}

.DropDown {
    width: 150px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -1px;
    border: 0px;
}

.DropDown:hover {
    background-color: rgb(225, 226,230);
    color:rgb(174, 183, 238);
}

.DropDownItem{
    background-color: rgb(225, 226,230);
}

.DropDownItem:hover{
    background-color: rgb(174, 183, 238);
}
